$utilities: (
   "FontSize": (
      property: ["font-size","line-height"],
      class: fs,
      responsive: true,
      values: (
         8: 8px,
         10: 10px,
         12: 12px,
         14: 14px,
         16: 16px,
         18: 18px,
         20: 20px,
         24: 24px,
         28: 28px,
         32: 32px,
         48: 48px,
      ),
   ),
);
