@import "./variables";

$theme-colors: (
   "primary": $primary,
   "primary-dark": $primary-dark,
   "primary-light": $primary-light,
   "danger": $danger,
   "success": $success,
   "warning": $warning,
   "light": $light,
   "dark": $dark,
);

$font-weight-lighter: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$spacer: 1rem;
$spacers: (
   0: 0,
   1: $spacer * 0.25,
   2: $spacer * 0.5,
   3: $spacer,
   4: $spacer * 2,
   5: $spacer * 3,
);

$border-radius: 8px;
$border-radius-sm: 4px;
$border-radius-lg: 16px;
$border-radius-pill: 128px;
.dropdown-toggle::after {
   display: none !important;
}

@import "../scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

* {
   font-family: "Rubik", sans-serif;
}

.dropdown-menu {
   min-width: 15rem !important;
}
